@page
@model Infinity_Words_Razor_Temp.Pages.Categories.CreateModel

<form method="post">
    <div class="border p-2 mt-4" style="border-radius:10px">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div class="mb-4 row p-1">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" type="text" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-4 row p-1">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" type="number" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary" style="width:100%;font-weight:700;">ADD</button>
            </div>
            <div class="col-6 text-end">
                <a asp-page="/categories/index" class="btn btn-secondary" style="width:100%;font-weight:700;">Back to list</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
